body{
  background: url("https://i.pinimg.com/736x/ce/76/d5/ce76d5c7578a01d34cb35b8b7081ecb4.jpg");
  background-color: #60C0EB;
  height: 100vh;
  width:  100vw;
  background-repeat: no-repeat; /* 반복 없애기 */
  background-position: center; /* 배경 위치 조정 */
  background-size: auto 120%; /* 배경 이미지 크기 조정 */
  background-attachment: fixed;
  padding:0;
  margin: 0;
  font-family: 'Cafe24Decoschool';
}

@font-face {
  font-family: 'Cafe24Decoschool';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoschool.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  height: 100vh;
  flex-direction: column;
}
.weather-box{
  border-radius: 10px;
  padding: 80px 76px 100px;
  font-family: 'Cafe24Decoschool', sans-serif;

  background-color: rgba(255, 255, 255, 0.696);
  background: url("https://cdn.pixabay.com/photo/2020/09/30/14/45/paper-5615994_1280.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.button{
  margin: 0 5px;
  font-family: 'Cafe24Decoschool', sans-serif !important;
}

/* 모바일 */
@media screen and (max-width: 768px) {
  body {
    background-size: cover; /* 화면 꽉 채우기 */
    background-size: auto 130%; /* 배경 이미지 크기 조정 */
    background-position: center center;
  }
  .button{
    margin: 2px 10px;
    width: 300px;
    font-size: 15px !important;
  }
  .button-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}